body {
  font-family: Lato, sans-serif;
  background-color: lightsteelblue;
}

#top-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

#top-bar a {
  text-decoration: none;
}

#logo {
  background-color: #23ac9b;
  color: #ffffff;
  padding: 0 20px;
  margin: 10px;
  border-radius: 4px;
}

#right {
  display: flex;
  flex-direction: row-reverse;
}

#coupon {
  background-color: #f06324;
  color: #ffffff;
  padding: 0 20px;
  margin: 10px;
  border-radius: 4px;
}

#coupon:hover {
  background-color: #f57439;
}

#hamburger {
  display: none;
  align-self: center;
  padding: 8px;
  color: slategray;
  border: none;
  font-size: 16px;
  outline: none;
}

#hamburger:hover {
  color: #f06324;
}

#hamburger:focus {
  color: #f06324;
}

#home {
  height: 10rem;
  text-align: center;
  padding: 30px;
}

.basic-box {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: slategray;
}

.down-arrow {
  padding: 4px;
  color: inherit;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.dropdown {
  position: relative;
}

.basic-box > a {
  color: inherit;
}

.basic-box:hover {
  color: #f06324;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  z-index: -1;
  opacity: 0;
  position: absolute;
  background-color: #ffffff;
  transition: opacity 0.4s ease-out, height 0.4s ease-out;
  top: 60px;
  width: 150px;
  padding: 5px 20px;
  height: 20%;
  overflow: hidden;
  justify-content: space-around;
}

.dropdown-content > a {
  color: slategray;
}

.dropdown-content > a:hover {
  color: #f06324;
}

.dropdown:hover .dropdown-content {
  z-index: 2;
  opacity: 1;
  top: 60px;
  width: 150px;
  height: 250%;
}

@media (max-width: 800px) {
  #hamburger {
    display: block;
  }
  .menu {
    display: none;
  }
}

@media (min-width: 800px) {
  #hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
}

#hamburger:focus ~ .menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  background-color: white;
  justify-content: space-between;
  top: 60px;
  padding: 3px;
  margin: 8px;
  width: -webkit-fill-available;
  height: 200px;
}

#hamburger:focus ~ .menu .dropdown-content {
  top: 0;
  left: 80px;
  height: fit-content;
}
