body {
  font-family: Lato, sans-serif;
  background-color: lightsteelblue;
}

#top-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

#top-bar a {
  text-decoration: none;
}

#logo {
  background-color: #23ac9b;
  color: #ffffff;
  padding: 0 20px;
  margin: 10px;
  border-radius: 4px;
}

#coupon {
  background-color: #f06324;
  color: #ffffff;
  padding: 0 20px;
  margin: 10px;
  border-radius: 4px;
}

#coupon:hover {
  background-color: #f57439;
}

#home {
  height: 10rem;
  text-align: center;
  padding: 30px;
}

.basic-box {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: gray;
}

.down-arrow {
  padding: 4px;
  color: inherit;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.dropdown {
  position: relative;
}

.basic-box > a {
  color: inherit;
}

.basic-box:hover {
  color: #f06324;
}

.dropdown-content {
  z-index: -1;
  opacity: 0;
  position: absolute;
  background-color: #ffffff;
  transition: all 0.5s ease;
  transform: translateY(-1em);
  top: 60px;
  width: 150px;
  padding: 5px 20px;
}

.dropdown-content > a {
  color: gray;
  padding: 15px;
}

.dropdown-content > a:hover {
  color: #f06324;
}

.dropdown:hover .dropdown-content {
  z-index: 2;
  opacity: 1;
  transform: translateY(0%);
  top: 60px;
  width: 150px;
  padding: 5px 20px;
}
